
/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
@import 'variables.scss';


html, body {
    height: 100%;
    font-family: $exo-font; 
}


a {
    text-decoration: none;
    color: white;
}

button {
    font: inherit;
    border: none;
}

li {
    list-style-type: none;
}
