.design-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    h1 {
        font-weight: 300;
        font-size: 60px;
    }
    img {
        width: 500px;
    }
}