.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-grey;
        .logo {
            padding-left: 20px;
            color: white;
        }
        .navigation {
            padding: 30px;
                .section-list {
                    display: flex;
                    gap: 30px;
                    list-style-type: none;
                        .nav-link {
                            color: white;
                            text-decoration: none;
                            font-weight: 400px;
                            font-size: 22px;
                        }
                }
        }
}

