.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
        .logo-div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            color: white;
                .index-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        img {
                            position: relative;
                            bottom: 5px;
                        }
                }
        }
        .navigation {
            padding: 30px;
                .section-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    list-style-type: none;
                        .nav-link {
                            color: white;
                            text-decoration: none;
                            font-weight: 400px;
                            padding: 30px;
                            font-size: 22px;
                                .contact-btn{
                                    background-color: $sea-blue;
                                    padding: 10px;
                                    color: white;
                                    border-radius: 5px;
                                }
                        }
                }
        }
}

