.main-index {
    background-image: url('/assets/images/backgrouds/intro-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
      .intro {
        background-image: url(/assets/images/backgrouds/index-background.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
            .intro-text {
                display: flex;
                height: 50%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 70px;
                gap: 10px;
                color: white;
                    h1 {
                        font-family: $exo-font;
                        font-size: 44px;
                        font-weight: 600;
                    }
                    p {
                        font-weight: 400;
                        font-size: 24px;
                        width: 40%;
                        line-height: 36px;
                    }
            }
      }
}