.pharma-background {
    background-image: url('../assets/images/backgrounds/pharmaBackground.png');
    background-size: cover;
    background-position: center;
    height: 80%;
    background-repeat: no-repeat;
    position: relative;
    .pharma-title {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 10px 0px 80px 60px;
        font-size: 70px;
        text-shadow: 2px 2px 2px black;
        width: 50%;
    }
}

.pharma-info-container {
    padding: 40px 0px 40px 65px;
    width: 85%;
    font-size: 28px;
}


.pharma-main {
    padding: 10px;
    .pharma-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 20px;
        .pharma-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 380px;
            .pharma-card-img {
                width: 380px;
                height: 240px;
                border-radius: 8px 8px 0px 0px;
            }
            .pharma-card-info {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 30px;
                width: 100%;
                border-radius: 0px 0px 8px 8px;
                border: 1px solid #D4D4D4;
                background: #F2F2F2;
                gap: 20px;
                .pharma-card-title {
                    font-size: 24px;
                    font-weight: 500;
                }
                .pharma-card-p {
                    text-align: justify;
                    font-size: 16px;
                    font-weight: 400;
                }
                .pharma-card-btn {
                    width: 100%;
                    background-color: #0085D0;
                    cursor: pointer;
                    border-radius: 5px;
                    color: white;
                    padding: 10px;
                }
            }
        }
    }
}