/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Aca se importarían las google fonts */

/* Header */
@import 'header.scss';


/* Seccion blistera */
@import 'blister.scss';

/* Seccion diseño */
@import 'desing.scss';

/* Seccion contacto */
@import 'contact.scss';

/* Footer */
@import 'footer.scss';