@charset "UTF-8";
/* Base */
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
/* Importar Google Fonts */
/* Colores */
/* Tipografia */
html, body {
  height: 100%;
  font-family: "Exo", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font: inherit;
  border: none;
}

li {
  list-style-type: none;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.header .logo-div .index-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo-div .index-link img {
  position: relative;
  bottom: 5px;
}
.header .navigation {
  padding: 30px;
}
.header .navigation .section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.header .navigation .section-list .nav-list .nav-link {
  color: white;
  text-decoration: none;
  font-weight: 400px;
  padding: 30px;
  font-size: 22px;
}
.header .navigation .section-list .nav-list .nav-link .contact-btn {
  background-color: #0557F5;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header .navigation .section-list .nav-list .nav-link .contact-btn:active {
  transform: scale(0.95);
}

/* Index */
.index-body {
  background-color: #ECECEC;
}
.index-body .main-index .intro .intro-img {
  content: url("../assets/images/backgrounds/index-background.png");
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.index-body .main-index .intro .intro-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 500px;
  gap: 30px;
  padding: 50px;
}
.index-body .main-index .intro .intro-info h1 {
  color: white;
  font-size: "Exo", sans-serif;
  font-weight: 800;
  font-size: 50px;
  width: 40%;
}
.index-body .main-index .intro .intro-info p {
  color: white;
  font-size: "Exo", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 60%;
}
.index-body .main-index .intro .intro-info .intro-btn-container {
  display: flex;
  gap: 15px;
}
.index-body .main-index .intro .intro-info .intro-btn-container .service-btn {
  background-color: #0557F5;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.index-body .main-index .intro .intro-info .intro-btn-container .service-btn:active {
  transform: scale(0.95);
}
.index-body .main-index .intro .intro-info .intro-btn-container .about-btn {
  color: #0557F5;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.index-body .main-index .intro .intro-info .intro-btn-container .about-btn:active {
  transform: scale(0.95);
}
.index-body .main-index .intro .intro-cards-container {
  display: flex;
  justify-content: space-around;
}
.index-body .main-index .intro .intro-cards-container .intro-card {
  color: #0557F5;
  background-color: white;
  display: flex;
  width: 605px;
  height: 400px;
  flex-direction: column;
  margin: 0 50px;
  font-family: "Exo", sans-serif;
  padding: 25px;
  gap: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.index-body .main-index .intro .intro-cards-container .intro-card:hover {
  background-color: #0557F5;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s;
}
.index-body .main-index .intro .intro-cards-container .intro-card .card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.index-body .main-index .intro .intro-cards-container .intro-card .card-icon-container h3 {
  font-size: 30px;
  font-weight: 700;
}
.index-body .main-index .intro .intro-cards-container .intro-card .card-icon-container .card-icon {
  font-size: 30px;
  align-self: center;
  position: relative;
  right: 50px;
}
.index-body .main-index .intro .intro-cards-container .intro-card p {
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
  text-align: justify;
}

/* Seccion de pharma */
.pharma-main .pharma-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Seccion diseño */
/* Seccion contacto */
/* Seccion contacto */
.contact-body {
  background-image: url(/assets/images/backgrouds/contact-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-body .main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.contact-body .main-contact .work-together {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 50%;
  padding: 5px 20px;
  border-radius: 3px;
}
.contact-body .main-contact .work-together .work-h1 {
  font-size: 78px;
  font-weight: 700;
  padding: 10px 20px;
}
.contact-body .main-contact .work-together .work-p {
  color: #0557F5;
  font-size: 27px;
  font-weight: 300;
  text-align: left;
  padding: 40px 20px;
}
.contact-body .main-contact .form-container {
  background-color: #3F3F3F;
  height: 80%;
  padding: 10px 75px;
  border-radius: 5px;
}
.contact-body .main-contact .form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px 0;
  gap: 20px;
}
.contact-body .main-contact .form-container form h2 {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.contact-body .main-contact .form-container form input {
  padding: 20px;
  border: none;
  background-color: #3A3A3A;
  border-bottom: 4px solid #0557F5;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.contact-body .main-contact .form-container form input::placeholder {
  font-size: 20px;
  font-weight: 400;
}
.contact-body .main-contact .form-container form input:focus {
  outline: none;
}
.contact-body .main-contact .form-container form textarea {
  background-color: #3A3A3A;
  border: none;
  padding: 20px;
  border-bottom: 4px solid #0557F5;
  color: white;
  font-size: 18px;
  font-weight: 100;
  resize: none;
}
.contact-body .main-contact .form-container form textarea::placeholder {
  font-size: 20px;
  font-weight: 400;
}
.contact-body .main-contact .form-container form textarea:focus {
  outline: none;
}
.contact-body .main-contact .form-container form .submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-body .main-contact .form-container form .submit-container .submit-btn {
  width: 70%;
  padding: 10px;
  background-color: #0557F5;
  color: white;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
}

/*# sourceMappingURL=style.css.map */
